
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url(./theme.css);

/* 공통 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--black);
}
*::before, *::after{
  box-sizing: border-box;
}
.a11y-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  margin-top:-1px;
  margin-left:-1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title{
  margin-top: 4rem;
  font-weight: 400;
  color: #222;
}

.card-container{
  margin-top:2rem;
  display: flex;
  flex-flow: row wrap;
}

.card{
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-card);
  position: relative;
}

.close-button{
  position: absolute;
  top:-12px; right:-12px;
  color:var(--white);
  overflow: hidden;
}
.close-button i{
  font-size: var(--text-md);
  color:#222;
  border-radius: 50%;
}
.close-button:hover i{
  color:var(--blue);
}

figure{
  width: 100%; 
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
figure:hover figcaption{
  transform: translateY(0rem);
}
figure img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figcaption{
  width: 100%; height: 8.5rem;
  padding:1rem 1.5rem;
  background-color: var(--black-opacity);
  color: var(--white);
  position: absolute;
  bottom:0; left:0;
  transform: translateY(4.8rem);
  transition: all 0.3s;
}
figcaption strong{
  display: block;
  font-weight: 500;
  font-size: var(--text-md);
  color: var(--white)
}
figcaption span{
  display: block;
  padding-top:1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;  
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: var(--text-sm);
  line-height: 1.5;
  color: var(--silver);
}


.card-description{
  margin-top: 3rem;
  border-top: 1px solid #dadada;
  padding-top: 3rem;

}
.card-layout-flex{
  display: flex;
  flex-flow: row nowrap;
  height: 31.25rem;
  background-color: var(--black);
}

.card-img-box{
  width: 50%;
  align-self: center;
}
.card-img-box img{
  display: block;
  width: 100%;
  object-fit: contain;
}
.card-text-box{
  width: 50%;
  padding: 1.5rem 2rem;
  height: 100%;
  background-color: var(--white);
  position: relative;
}
.card-text-box h2{
  font-size: var(--text-md);
}
.card-text-box p{
  font-size: var(--text-sm);
  margin-top:0.5rem;
}

.comment-box{
  background-color: #f0f0f0;
  margin-top: 1rem;
  padding: 1rem;
  height: 280px;
  overflow: scroll;
}

.profile{
  display: flex;
  flex-flow: row nowrap;
}
.profile + .profile{
  margin-top:1rem;
}

.profile-img{
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--blue);
  flex-shrink: 0;
}
.profile-img i{
  color:#fff;
}
.profile-field{
  display: flex;
  flex-flow: row nowrap;
  gap:1rem;
  margin-left:0.5rem;
  
}
.profile-id{
  font-weight: 600;
  line-height: 1.875rem;
  flex-grow: 1;
  flex-shrink: 0;
}


.like-wrap{
  margin-top: 1rem;
}
.like-button{
  display: inline-block;
  width: 1.875rem; height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
}
.like-button i {
  color: var(--silver);
  font-size:var(--text-md)
}
.like-button.is-active i{
  color: #ff0000;
}
.like-content{
  display: inline-block;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size:1.15rem;
  margin-left:0.25rem;
}




.comment-content{
  line-height: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  padding:0.1875rem 1rem;
}

.comment-write{
  position: absolute;
  bottom:0;
  display: flex;
  flex-flow: row nowrap;
  width: calc(100% - 4rem);
}
.comment-write textarea{
  resize: none;
  flex-grow: 1;
  border: 1px solid var(--silver);
  outline: none;
  border-radius: 2rem;
}
.comment-write textarea:focus{
  border: 1px solid var(--blue);
}
.comment-write a{
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  flex-shrink: 0;
}
.comment-write i{
  font-size:1.5rem;
  color:var(--blue);
}


/* 모바일 */
@media (min-width: 320px) and (max-width: 639px) {
  .card-container{
    margin-top:2rem;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
  }
  .card{
    width: 100%;
  }
}

/* 테블릿 */
@media (min-width: 640px) and (max-width: 1279px) {
  .card-container{
    gap: 1.4rem;
  }
  .card{
    width: calc(50% - 1.4rem);
    min-height: 260px;
  }
}

/* 데스크탑 */
@media (min-width: 1280px) {
  .container{
    max-width: var(--container-width);
  }
  .title{
    font-size: var(--text-lg); 
  }
  .card-container{
    margin-top:2rem;
    gap: 1.4rem;
  }
  .card{
    width: 290px;
    min-height: 260px;
  }
}
